<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FIFA 2022</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/venue">Venue</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/locations">Locations <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stadiums
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://i.ytimg.com/vi/PZsDS6WauIA/maxresdefault.jpg">AL Khor</a>
            <a class="dropdown-item" href="https://img.fifa.com/image/upload/t_l4/uwbfrz0c5vqvh453uf71.jpg">Al Rayyan</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://i.ytimg.com/vi/bIIXWn_m41c/maxresdefault.jpg">AL Wakrah</a>
          </div>
        </li>
        
      </ul>
      
    </div>
  </nav>



  <router-outlet></router-outlet>